.header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.search {
  justify-content: center;
  align-items: center;
  display: flex;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 100px;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
